@model Dictionary<string, object>

<section id="header">
    <div class="section-table">
        <div class="section-row">
            <div class="section-cell">
                <div class="section-center">
                    <p class="logo">
                        <img src="~/images/logo.png" alt="logo" />
                        <h1>@ViewBag.Title</h1>
                    </p>
                    <p>Юридическая клиника-лаборатория, где студенты-юристы получают свой первый опыт, а пользователи - решение своей проблемы.</p>
                    <div class="section-btn">
                        <a asp-action="ChoiceRole" asp-controller="Form" class="btn btn-primary">Регистрация <i class="fa fa-chevron-circle-right"></i></a>
                        <a href="#rules" class="btn btn-secondary">Правила</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>