<div class="col-md-6">
    <h2><a name="rules"></a>Правила</h2>
    <p class="large">Публичные Правила Проекта обеспечивают ее пользователей рамочными требованиями взаимодействия</p>
    <p>Философия проекта основана на стремлении его создателя предоставить студентам-юристам реальные юридические кейсы, а тем кто нуждается в юридической помощи - решение правового вопроса или знание о невозможности достижения удовлетворяющего правового результата</p>
    <a href="https://t.me/LawLabBot" target="_blank" class="link"><i class="fa fa-arrow-circle-down"></i> Telegram Bot</a>
</div>