<!DOCTYPE html>

<html>
<head>
    <partial name="_HeadPartial" />
    <meta name="description" content="Юридическая клиника-лаборатория, где студенты-юристы получают свой первый опыт, а пользователи - решение своей проблемы" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("Header", false)
    @RenderSection("Body", false)
    @RenderSection("Footer", false)
    <partial name="_ScriptsPartial" />
</body>
</html>
