@model Student

<section id="form">
    <div class="container text-center wow fadeInDown">
        <div class="row">
            <h2>Самый простой способ стать частью Юридической Лаборатории</h2>
            <p class="large align-content-center">На регистрацию Вам потребуется не более 3-х минут. На успешную карьеру Вам потребуется вся жизнь!</p>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-form wow zoomIn">
                    <form id="myForm">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" name="name" placeholder="Ваше Имя" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" name="email" placeholder="Email" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <select name="plan" class="form-control form-sel" style="width: 100%; height: 44px;">
                                    <option disabled selected class="hidden">Выберите Роль</option>
                                    <option value="student">Студент</option>
                                    <option value="client">Клиент</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" name="name" placeholder="Ваша Фамилия" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" name="email" placeholder="Email" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <select name="plan" class="form-control form-sel" style="width: 100%; height: 44px;">
                                    <option disabled selected class="hidden">Выберите Роль</option>
                                    <option value="student">Студент</option>
                                    <option value="client">Клиент</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">register <i class="fa fa-chevron-circle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>