<div class="bg-info text-center text-white" style="font-size:x-large;">Выбор качества, в котором Вас следует зарегистрировать</div>
<table class="col-md-12 table">
    <tr>
        <td class="text-right"><a asp-action="CreateStudentForm" asp-controller="Form" class="btn btn-primary">Регистрация Студента</a></td>
        <td><a asp-action="CreateClientForm" asp-controller="Form" class="btn btn-primary">Регистрация Клиента</a></td>
    </tr>
</table>